$primary: #0a7523;
$secondary: #89f5a2;
$accent: #F5C056;
$l-gray: #F2F2F3;
$m-gray: #C8CDD0;
$d-gray: #415058;
$black: #1F292E;

$animate: .3s ease-in-out !important;

.stoc {

  * {
    box-sizing: border-box !important;
  }

  &__body {

    left: 0;
    transition: all $animate;

    &.active {
      left: 150px;
      overflow-x: hidden;

      .sticky-on {
        left: 100px !important;
      }
    }

    div[class*="col-"] {
      width: 100% !important;
    }

    .main-container {
      max-width: 768px;
      margin: auto;
    }

    // Top nav

    .navigation-elem {
      padding:0;

      .inner-nav {
        .navbar-nav {
          margin: 0;

          li {
            margin: 0 !important;

            a {
              padding: 5px !important;
            }
          }
        }

        .social-media {
          margin-top: 5px;
          float: right;
        }
      }
    }

    // Header
    .navigation-holder,
    .search-holder,
    .logo-holder{
      width: 100% !important;
      text-align: center !important;
      float: none;
      margin: 0;
    }

    .navbar {
      padding: 2em;

      &.sticky {
        transition: all $animate;

      	&.sticky-on {
      		position: fixed;
      		top: 0;
          left: 0;
      		z-index: 9000;
          width: 100%;
          max-width: none !important;
          padding: 1em;
          margin: 0;

          .row {
            display: flex;

            .navigation-holder,
            .search-holder,
            .logo-holder {
              transition: all $animate;
            }

            .logo-holder {
              width: 20% !important;

              img {
                margin: 5px auto;
              }

              @media screen and (max-width: 768px) {
                display: none;
              }
            }

            .search-holder {
              width: 60% !important;
              margin: 0;
              padding: 0;

              .search-fb-holder {
                width: 75%;
              }

              @media screen and (max-width: 768px) {
                width: 75% !important;

                .search-fb-holder {
                  width: 75%;
                }
              }

              @media screen and (max-width: 500px) {
                width: 50% !important;
              }
            }

            .navigation-holder {
              padding: 12px 0 !important;
              width: 20% !important;

              @media screen and (max-width: 768px) {
                width: 25% !important;
              }

              @media screen and (max-width: 500px) {
                width: 50% !important;
              }

              .analysis-holder {
                padding: 0;
                text-align: right;

                small {
                  display: none;
                }

                .navigation-rank-wrapper {
                  margin-left: 0;
                }
              }
            }
          }
      	}
      }

      .navbar-brand {
        float: none;
        height: auto;
        line-height: 1;
        display: block;
        text-align: center;
        padding: 0;

        img {
          margin: 0 auto;
          margin-left: 10px;
          width: 150px;

          @media screen and (max-width: 768px) {
            margin-left: 0;
          }
        }
      }

      .search-holder {
        float: none;
        top: auto;
        left: auto;
        margin: .5em 0;

        .search-fb-holder {
          width: 50%;
          margin: auto;

          @media screen and (max-width: 768px) {
            width: 75%;
          }

          .input-group {
            top: 0;
            display: flex;

            input {
              flex-grow: 1;
              flex-basis: auto;
            }

            ul.dropdown-menu {
              width: 100%;
            }

            .input-group-btn {
              width: auto;
              display: unset;
              cursor: pointer;

              button {
                border-radius: 0 3px 3px 0 !important;
              }

              &:hover, &:focus {
                opacity: .9;
              }

              span {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .analysis-holder {
      text-align: center;
      margin-top: 0;
    }

    /*
    .chart-holder {
      canvas {
        width: 643px !important;
        height: 321px !important;
      }
    }
    */

    h2 {
      margin-top: 0 !important;
      padding-top: 30px !important;
      /*
      &:before {
        content: '';
        display: block;
        height: 100px; // height of header
      }
      */
    }


    // Sections

    // champ prof
    .champion-profile {
      border: 0 !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2em;
      float: none;

      h1 {
        flex: 0 0 100%;
        text-align: left;
        border-bottom: 1px solid $d-gray;
        border-color: rgba($d-gray, .5);
        padding-bottom: .5em;
      }

      .champ-img-pb {
        width: 120px;
        flex-grow: 0;
        flex-basis: auto;

        .champ-img {
          margin: 0;
          width: 100%;
        }

        .champ-pb {
          display: block;
          position: relative;
          padding: .5em;
          margin: 1em 0 0 0;
          background: $secondary;
          color: $black;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: bold;
          transition: background $animate;

          &:hover {
            background: $accent;
            text-decoration: none;
          }

          &:after {
            content: '\f360';
            font-family: "Font Awesome 5 Free";
            font-weight: bold;
            position: absolute;
            right: 5px;
            line-height: 14px;
            font-size: 14px;
            margin: .1em 0;
          }
        }
      }

      .champ-role {
        width: 550px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0;

        @media screen and (max-width: 800px ) {
          width: 200px;

          small {
            display: none !important;
          }
        }

        .selected-role:first-child {
          display: none !important;
        }

        li {
          margin: 0 0 0 10px;
          padding: 0 !important;
          border: 1px solid $d-gray;
          flex-grow: 1;
          flex-basis: auto;

          &:first-child {
            margin: 0;
          }

          a {
            display: block;
            width: 100%;
            height: auto;
            color: $l-gray;
            padding: 3.5em 2em;

            @media screen and (max-width: 800px ) {
              h3 {
                font-size: 14px;
              }
            }

            @media screen and (max-width: 500px ) {
              padding: 1em !important;
            }

            &:hover {
              color: $secondary;
              background: $black;
            }

            h3 {
              margin: 0;
            }
          }

          &.selected-role {

            a {
              background: $black;

              h3 {
                color: $secondary;
              }

              small {
                color: $secondary;
              }
              &:hover h3 {
                //color: $secondary;
              }
            }
          }
        }

        &.three-roles {
          a {
            padding: 3em 2em;
          }
        }

        &.four-roles {
          @media screen and (max-width: 500px) {
            flex-wrap: wrap;
            align-items: center;
          }

          small {
            display: none !important;
          }
        }
      }
    }

    // stats

    .show-champ-stats {
      display: block;
      width: 95%;
      margin: auto;
      border: 1px solid $l-gray;
      color: $l-gray;
      padding: 1em;
      text-align: center;
      text-transform: uppercase;
      transition: all $animate;

      &:hover {
        text-decoration: none;
        background: $d-gray;
        border-color: $secondary;
        color: $secondary;
        cursor: pointer;
      }
    }

    div.champion-area .container-fluid .row>div {
      border:0;
    }

    .trinket-stats {
      width: 50%;
      margin: auto;

      div {
        width: 50% !important;

        .build-text {
          width: 100% !important;
        }
      }
    }

    #back-to-top {
    	text-align: center;
    	width: 50px;
    	height: 50px;
      position: fixed;
      display: none;
      bottom: 10px;
      right: 10px;
      cursor: pointer;
    	z-index: 9999;
      border: 1px solid $d-gray !important;

      a {
        display: block;
        color: $black;
        background-color: $accent;
        font-size: 25px;
        line-height: 48px;
        transition: all $animate;

        &:hover {
          color: $l-gray;
          background-color: $black;
        }
      }

    }
  }

  &__container {
    width:350px;
    height:100%;
    position:fixed;
    top:0;
    left: -340px;
    padding: .5em 1em;
    background: $l-gray;
    border-right: 10px solid $accent;
    z-index: 9999;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    transition: left $animate;

    &.active {
      left: 0;
    }

    *::selection {
      color: $black;
      background: $accent;
    }
  }

  &__toggle {
    display: block;
    position: absolute;
    top: 50px;
    right: -50px;
    box-sizing: border-box;
    padding: 1em;
    background: $accent;
    width: 50px;
    text-align: center;
    color: $black;
    border-radius: 0 5px 5px 0;
    transition: color $animate;

    &:hover, &:focus {
      color: $d-gray;
      cursor: pointer;
    }

    .fas {
      font-size: 30px;
    }
  }

  &__toc {

    /*a.go-search {
      display: block;
      text-align: center;
      padding: 1em;
      margin: 1em auto;
      background: $primary;
      color: $l-gray;
      text-transform: uppercase;
      transition: all $animate;

      &:hover, &:focus {
        text-decoration: none;
        opacity: .8;
      }
    }*/

    h3 {
      margin: 1em 0;
      color: $black;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 1;
      text-align: center;
      font-weight: bold;
    }

    div {
      border-top: 1px solid $m-gray;
      border-color: rgba($m-gray, .5);
      margin: 1em auto;
      padding: 1em .5em;
      position: relative;

      &:before {
        color:$d-gray;
        background: $l-gray;
        padding:.5em 1em .5em .5em;
        font-size: 10px;
        text-transform: uppercase;
        position: absolute;
        top:-1.25em;
        left: 0;
        display: block;
      }

      &.draft:before {
          content: 'Draft';
      }

      &.loadout:before {
          content: 'Loadout';
      }

      &.ingame:before {
          content: 'In Game';
      }

      &.general:before {
          content: 'General';
      }
    }

    ul {
      margin:0;
      padding:0;
      list-style: none;
      text-align: left;

      &.unsorted {
        display: none !important;
      }

      li {
        margin-bottom: 5px;
      }

      a {
        display: block;
        padding: .25em 1em;
        color: $black;
        font-size: 12px;
        line-height: 14px;
        //transition: all $animate;
        text-decoration: none !important;
        position: relative;
        border-left:5px solid $accent;

        &:before {
          content: '';
          display: block;
          width: 0;
          height: 100%;
          background: $accent;
          position: absolute;
          left: 0;
          top:0;
          transition: width $animate;
          z-index: -1;
        }

        &:hover {
          border-left:5px solid $black;

          &:before {
            width: 100%;
          }
        }

        &:focus, &:active {
          color: $black;
          background: $accent;
          border-color: $black;
        }
      }
    }
  }
}
